<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>64600E36-B7FC-4435-A0F4-8E10ABD8B2BF</string>
	<key>title</key>
	<string>Synonym zum Thema ""</string>
	<key>version</key>
	<integer>4</integer>
</dict>
</plist>
